<extend name="template/template" />

<block name="css">
</block>


<block name="content">


    <div class="main-container">
        <div class="branks"><a href="#">首页</a> > <a href="#">网上办事</a></div>
        <div class="huandengbox">
            <div class="huandengboxitem">
                <div class="huandengitem flex">
                    <img src="__PUBLIC__/images/big.jpg" class="huandengitemimg">
                    <div class="huandengitemdesc flex-1">
                        <a href="#">广东省举办全省基层计划生育基础工作培训班</a>
                        <p>2月25日，广东省中医资源与服务能力统计调查启动会，图为会场2月25日，广东省中医资源与服务能力统计调查启动会，图为会场</p>
                    </div>
                </div>
            </div>

            <div class="huandengpagelist">
                <a class="huandengpageitem current" href="#"></a>
                <a class="huandengpageitem" href="#"></a>
                <a class="huandengpageitem" href="#"></a>
                <a class="huandengpageitem" href="#"></a>
            </div>
        </div>

        <div class="content-container flex">
            <div class="bianshileft">
                <div class="zhengwuhead">
                    <span>最新新闻</span>
                    <a href="#" class="morebanshi">更多></a>
                </div>
                <div class="zuixinbox">
                    <h3 class="zuixinbox-title">关于征求广东省食品安全地方标准非预包装即食食品</h3>
                    <p class="zuixin-detail"><strong>新闻摘要：</strong>粤卫通〔2015〕10号根据《中华人民共和国食品安全法》和国家卫生计生委《食品安全地方标准管理办法》规定，我委组织起草了《广东省食品安全地方标准汕头牛肉丸》（征求意见稿）、《广东省食品安全地方标准非预包装即食食品微生物限量》（征求意见稿），现公开...</p>
                </div>
                <ul class="zuixinlist">
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                </ul>



                <div class="zhengwuhead">
                    <span>图片集锦</span>
                </div>
                <div class="bianmingtubox">
                    <a class="mainpic" href="#">
                        <img src="__PUBLIC__/images/big.jpg">
                        <p>关于征求广东省食品安全地方标准非预包装即食食品</p>
                    </a>
                    <a  href="#">
                        <img src="__PUBLIC__/images/big.jpg">
                        <p>关于征求广东省食品安全地方标准非预包装即食食品</p>
                    </a>
                    <a  href="#">
                        <img src="__PUBLIC__/images/big.jpg">
                        <p>关于征求广东省食品安全地方标准非预包装即食食品</p>
                    </a>
                </div>

                <div class="zhengwuhead">
                    <span>处室信息</span>
                </div>
                <ul class="zuixinlist">
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                    <li><a href="#">关于确定中山大学附属第六医院等2家医院为三级甲等医院的通知<span class="date">2016-01-01</span></a></li>
                </ul>

            </div>


            <div class="bianshiright flex-1">
                <div class="commonbox">
                    <div class="commonbox-title">
                        处室职责
                    </div>
                    <div class="commonbox-content">
                        拟订农村卫生和社区卫生政策、规划、规范并组织实施，指导全省基层卫生服务体系建设和乡村医生相关管理工作，监督指导基层卫生政策的落实；指导和督促基层加强计划生育基础管理和服务工作，推进基层计划生育工作网络建设。
                    </div>
                </div>

                <div class="commonbox">
                    <div class="commonbox-title">
                        联系方式
                    </div>
                    <div class="commonbox-content">
                        负责人：赵祖宏<br>
                        地址：广州市先烈南路17号<br>
                        邮编：510060
                    </div>
                </div>

                <a class="commonbox" href="#">
                    <div class="yijianxiang">公众意见箱</div>
                </a>

                <div class="commonbox">
                    <div class="commonbox-title">
                        各处室子站
                    </div>
                    <ul class="chishilisdt">
                        <li><a href="/a/sc/zongheguanli/" target="_blank" title="办公室">办公室</a></li>
                        <li><a href="/a/sc/guihuayucaiwuchu/" target="_blank" title="规财处">规财处</a></li>
                        <li><a href="/a/sc/xinxitongji/" target="_blank" title="信息与统计处">信息与统计处</a></li>
                        <li><a href="/a/sc/zhengcefagui/" target="_blank" title="政策法规处">政策法规处</a></li>
                        <li><a href="/a/sc/tizhigaige/" target="_blank" title="体制改革处">体制改革处</a></li>
                        <li><a href="/a/sc/weishengyingji/" target="_blank" title="卫生应急办公室">卫生应急办公室</a></li>
                        <li><a href="/a/sc/jikongguanli/" target="_blank" title="疾病预防控制处">疾病预防控制处</a></li>
                        <li><a href="/a/sc/yizhengguanli/" target="_blank" title="医政处">医政处</a></li>
                        <li><a href="/a/sc/jicengzhidao/" target="_blank" title="基层指导处">基层指导处</a></li>
                        <li><a href="/a/sc/fuyoujiankang/" target="_blank" title="妇幼健康服务处">妇幼健康服务处</a></li>
                        <li><a href="/a/sc/shipinbiaozhun/" target="_blank" title="食品安全标准与监测评估处">食品安全标准与监测评估处</a></li>
                        <li><a href="/a/sc/zonghejiandu/" target="_blank" title="综合监督处">综合监督处</a></li>
                        <li><a href="/a/sc/yaowuzhengce/" target="_blank" title="药物政策与基本药物制度处">药物政策与基本药物制度处</a></li>
                        <li><a href="/a/sc/jihuashengyu/" target="_blank" title="计划生育家庭发展处">计划生育家庭发展处</a></li>
                        <li><a href="/a/sc/kaohepingjia/" target="_blank" title="考核评价处">考核评价处</a></li>
                        <li><a href="/a/sc/renkouguanli/" target="_blank" title="流动人口计划生育服务管理处">流动人口计划生育服务管理处</a></li>
                        <li><a href="/a/sc/xuanchuanguanli/" target="_blank" title="宣传处">宣传处</a></li>
                        <li><a href="/a/sc/kejijiaoyu/" target="_blank" title="科技教育处">科技教育处</a></li>
                        <li><a href="/a/sc/renshiguanli/" target="_blank" title="人事处">人事处</a></li>
                        <li><a href="http://jiancha.gdwst.gov.cn/" target="_blank" title="监察室">监察室</a></li>
                        <li><a href="/a/sc/weishengdangjian/" target="_blank" title="党委办">党委办</a></li>
                        <li><a href="/a/sc/jiaoliuhezuo/" target="_blank" title="交流合作处">交流合作处</a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

</block>

