<extend name="template/template" />

<block name="css">
</block>


<block name="content">


    <div class="main-container">
        <div class="zhengwuhead">
            <span>政务专题</span>
        </div>
        <div class="zhengwucontent">
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/20150626wsjsjn.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/20150623spanaq.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/in_zt_ywgk.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_2.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_3.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_8.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_9.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_10.jpg"></a>
            <a href="#" class="zhuangtiitem"><img src="http://www.gdwst.gov.cn/images/zt_ad_7.jpg"></a>
            <div class="clear"></div>
        </div>

    </div>

</block>
