<extend name="template/template" />

<block name="css">
</block>

<block name="content">


    <div class=""></div>
    <div class="main-container">
        <div class="branks"><a href="#">首页</a> > <a href="#">信息公开</a> > 正文</div>
        <div class="xinxicontent">
            <h3 class="content-title">我省首例输入性寨卡病毒感染病例治愈出院</h3>
            <p class="content-desc">
                2016-02-25 15:08:56  省卫生计生委 | 阅读次数(271)
            </p>
            <div class="xinximain">
                <p>我省首例输入性寨卡病毒感染病例今日（2月25日）痊愈出院。</p>
                <p>2月15日，我省确诊一例输入性寨卡病毒感染病例。经广州市第八人民医院积极治疗后，患者发热、皮疹等临床症状全部消失，寨卡病毒核酸检测两次阴性，今日痊愈出院。</p>
                <p>专家提醒：当前南美等地国家流行寨卡病毒病，公众如近期到寨卡病毒疫情发生国家和地区旅行，要注意做好防蚊措施，一旦出现发热、皮疹、肌肉关节疼痛等症状，应及时到医疗机构就诊，并主动告知医务人员相关旅行史。孕妇及计划怀孕女性近期要慎重考虑前往发生疫情国家/地区。如必须前往疫情国家，请务必做好防蚊措施。</p>
            </div>
        </div>

    </div>

</block>

