<extend name="template/template" />

<block name="css">
</block>


<block name="content">

    <div class="main-container">
        <div class="wangshang-left">
            <div class="branks"><a href="#">首页</a> > <a href="#">网上办事</a></div>
            <div class="content">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            </div>
        </div>
        <div class="wangshang-right">
            <a href="#" class="item">网上办公</a>
            <a href="#" class="item">办事规程</a>
            <a href="#" class="item current">办事指南</a>
            <a href="#" class="item">表格下载</a>
            <a href="#" class="item">审批状态</a>
            <a href="#" class="item">审批公告</a>
        </div>
        <div class="clear"></div>
    </div>

</block>

