<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>{:C('FULL_COMPANY_NAME')}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        
        <link href="__PUBLIC__/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="__PUBLIC__/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="__PUBLIC__/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="__PUBLIC__/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="__PUBLIC__/assets/pages/css/login-2.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        
        <style type="text/css">
			.code{cursor:pointer;height:40px;width:300px;}
			.title{font-size:16px;font-weight:bold;}
			.fa-leaf{color:green;}
		</style>
    </head>
    <!-- END HEAD -->

    <body class=" login">

        <!-- BEGIN LOGO -->
        <div class="logo">
               <span class="title">
               		<i class="fa fa-leaf"></i>{:C('FULL_COMPANY_NAME')}
               </span>
               <br /><br />后台管理系统
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form enctype="multipart/form-data" action="javascript:;" method="post">
            
                <div class="alert alert-danger display-hide h_alert">
                    <button class="close" data-close="alert"></button>
                    <span class="warn_words">请输入用户名和密码 </span>
                </div>
                
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->                          
                    <div class="input-icon right">
                      <i class="fa fa-user"></i>
                      <input type="text" class="form-control" name="account" placeholder="帐号">
                    </div>
                </div>
                
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->                          
                    <div class="input-icon right">
                      <i class="icon-lock"></i>
                      <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-icon right">
                        <i class="fa fa-tags"></i>
                        <input type="text" autocomplete="off" id="verify" name="captcha" class="form-control" placeholder="请输入验证码" errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="captcha">
                    </div>
                </div>
                
                <div class="form-group">
	                <img id="captchaImg" src="{:U('Admin/Index/captcha')}" onclick="freshCaptcha()" border="0" alt="点击刷新验证码" class="code" align="absmiddle">
	                &nbsp;&nbsp;<a href="javascript:void freshCaptcha();">点击刷新</a>
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn red btn-block uppercase h_login">登录</button>
                </div>
                
        </div>
        <div class="copyright"> 2016 © {:C('FULL_COMPANY_NAME')} All rights reserved </div>
        
	 	<script src="__PUBLIC__/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="__PUBLIC__/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="__PUBLIC__/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="__PUBLIC__/assets/pages/scripts/login.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        
        <script>
			function freshCaptcha(){ 
				//重载验证码
				var timenow = new Date().getTime();
				$('#captchaImg').attr('src', '{:U('Admin/Index/captcha')}?'+timenow);
			}  
			
			$('.h_login').click(function(){
				data = $('form').serialize();
				$.post("{:U('Admin/Index/login')}", data, 
	                function(data){
				    	$('.warn_words').html(data.info);
		              	$('.h_alert').show();
		                if(data.status == 1) {
							window.location.href = data.url;        	
		                }				
	              },'json'); 
			})
			
			$(document).keydown(function(e){
				if(e.keyCode == 13) {
					e.preventDefault(); 
					$('.h_login').click();
				}
			});
		
		</script>
    </body>

</html>