
<extend name="Template/template" />

<block name="css">
</block>

<block name="content">

	<div class="portlet light">
	    <div class="portlet-title">
	        <div class="caption">
	            <i class="icon-settings font-dark"></i>
	            <span class="caption-subject font-dark sbold uppercase">{$headline}</span>
	        </div>
	        <div class="actions">
	            <a href="javascript:history.back()">
	            	<button type="button" class="btn btn-success">&nbsp;返&nbsp;回&nbsp;</button>
				</a> 
	        </div>
	    </div>
	    
	    <div class="portlet-body form">
	        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="javascript:;">
	            <div class="form-body">
	            
	                <div class="form-group">
	                    <label class="col-md-3 control-label">角色名称</label>
	                    <div class="col-md-6">
	                        <input type="text" class="form-control required" placeholder="角色名称" name="name" value="{$info.name}" >
	                    </div>
	                </div>
	                
	                <div class="form-group">
                        <label class="col-md-3 control-label">角色描述</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="3" name="remark">{$info.remark}</textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
	                    <label class="col-md-3 control-label">是否启用</label>
	                    <div class="col-md-6">
	                        <select class="form-control" name="status">
	                            <if condition="$info.status eq 1">
									<option value='1' selected >开启</option>
									<option value='0'>禁止</option>
								<else />
									<option value='1'>开启</option>
									<option value='0' selected>禁止</option>
								</if>	
	                        </select>
	                    </div>
	                </div>
	                
	                <if condition="$info.id neq ''">
						<input type="hidden" name="id" value="{$info.id}" />
					</if>
	                
	            </div>
	            <div class="form-actions">
	                <div class="row">
	                    <div class="col-md-offset-3 col-md-9">
	                        <button type="submit" class="btn green" id="tijiao">提交</button>
	                        <a href="javascript:history.back()">
	                        	<button type="button" class="btn default">取消</button>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </form>
	    </div>
	</div>

</block>

<block name="script">

<script type="text/javascript">

jQuery(function($) {
	$().ready(function() {
		$("form").validate({
		   submitHandler: function(form) 
		   {      
			   var data = $("form").serialize();
				$.post("{$jump_url}", data, 
				  function(data){
					alert(data.info);
		            if (data.status == 1) {
		                window.location.href = data.url;
		            } 
		        },'json');   
		   } 
		});
	});
});

</script>

</block>

